Source: n2notify
Section: misc
Priority: optional
Maintainer: XLSHosting packager <opensource@xlshosting.com>
Build-Depends: debhelper (>= 5), zlib1g-dev
Standards-Version: 3.7.2

Package: n2notify
Architecture: any
Depends: zlib1g
Description: n2 notification framework+daemon
 This is the n2 notificatin framework+daemon
